{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" >
    <script src="{% static 'js/jquery-1.11.1.min1.js' %}"></script>
    <script src="{% static 'js/index.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>失物招领管理</title>
</head>
<body>
    <div class="bg-contain">
        <div class="nav">
            <ul>
                <img src="{% static 'timg.jpg' %}">
                <li>失物招领管理系统</li>
                <h1>hello&nbsp&nbsp{{ user.username }}&nbsp&nbsp</h1>

            </ul>
        </div>

        <div class="left-bar">
            <div class="left-inner">
                
                {% if user.is_authenticated %}
                    <a href="{% url 'users:info' %}"><div class="b-choose choose-third"><span>张贴失物信息</span></div></a>
                    <a href="{% url 'users:opinion' %}"><div class="b-choose choose-fourth"><span>意见箱</span></div></a>
                    <a href="{% url 'users:about' %}"><div class="b-choose choose-fifth"><span>关于我们</span></div></a>
                    <a href="{% url 'users:delete' %}"><div class="b-choose choose-sixth"><span>撤回上传信息</span></div></a>
                    </div>
                    <a href="{% url 'logout' %}?next={{ request.path }}"><div class="b-choose choose-fifth" style="color:crimson"><span>退出登录</span></div></a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}"><div class="b-choose choose-second"><span>登陆</span></div></a>
                    <a href="{% url 'users:register' %}"><div class="b-choose choose-third"><span>注册</span></div></a>
                    <a href="{% url 'users:about' %}"><div class="b-choose choose-fourth"><span>关于我们</span></div></a>
                {% endif %}
            </div>
        </div>
        <div class="right-body">
            <div class="right-body-inner" style="border: none;background-color:rgba(255,255,255,0.2)">
                
                    {% for i in imgs %}
                    <div class="chart-bar">
                    <img src="{{ i.img.url}}" width=235px height=185px/>
                    <div class="inner-chart">
					<p>发布时间：{{i.pub_date}}</p>
					<div class="button" style="height: 30px"><p>用户：{{i.user.username}}</p></div>
                    <div class="button"style="height: 30px"><p>物品名称：{{i.finder}}</p></div>
                    <div class="button"style="height: 30px"><p>联系方式：{{i.phoneNumber}}</p></div>
                    <div class="button1"style="height: 65px"><p>补充说明：{{i.details}}</p></div>
                    </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>