{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" >
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>个人信息主页</title>
</head>
<body bgcolor="red">
    <div class="bg-contain">
        <div class="nav">
            <ul>
                <li>{{ user.username }}</li>
                <li class="nav-active">part5</li>
                <li>part6</li>
                <li>part7</li>
                <li>part8</li>
            </ul>
        </div>

        <div class="left-bar">
            <div class="left-inner">
                <div class="b-choose choose-first"><span>part1</span></div>
                <div class="b-choose choose-second"><span>part2</span></div>
                <div class="b-choose choose-third"><span>part3</span></div>
                <div class="b-choose choose-fourth"><span>part4</span>
                    <div class="left-inner-bar">
                        <ul >
                            <li class="fourth-first">图一</li>
                            <li class="fourth-second">图二</li>
                            <li class="fourth-third">图三</li>
                            <li class="fourth-fourth">图四</li>
                            <li class="fourth-fifth">图五</li>
                            <li class="fourth-sixth">图六</li>
                            <li class="fourth-seventh">图七</li>
                            <li class="fourth-eighth">图八</li>
                            <li class="fourth-ninth">图九</li>
                            <li class="fourth-tenth">图十</li>
                            <li class="fourth-eleventh">图十一</li>
                            <li class="fourth-twelfth">图十二</li>
                        </ul>
                    </div>
                </div>
				<div class="b-choose choose-fifth">
				<a href="www.baidu.com">
					<span>注销登陆</span>
				</a>
				</div>
            </div>
        </div>
        <div class="right-body">
            <div class="right-body-inner">
                <div class="chart right-first">
                    <div class="chart-bar">1</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart right-second">
                    <div class="chart-bar">2</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart right-third">
                    <div class="chart-bar">3</div>
                    <div class="chart-legend"></div>
                </div>


                <div class="chart fourth-first">
                    <div class="chart-bar">4-1</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-second">
                    <div class="chart-bar">4-2</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-third">
                    <div class="chart-bar">4-3</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-fourth">
                    <div class="chart-bar">4-4</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-fifth">
                    <div class="chart-bar">4-5</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-sixth">
                    <div class="chart-bar">4-6</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-seventh">
                    <div class="chart-bar">4-7</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-eighth">
                    <div class="chart-bar">4-8</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-ninth">
                    <div class="chart-bar">4-9</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-tenth">
                    <div class="chart-bar">4-10</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-eleventh">
                    <div class="chart-bar">4-11</div>
                    <div class="chart-legend"></div>
                </div>
                <div class="chart fourth-twelfth">
                    <div class="chart-bar">4-12</div>
                    <div class="chart-legend"></div>
                </div>



                <div class="chart right-fifth">
                    <div class="chart-bar">5</div>
                    <div class="chart-legend"></div>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>