@charset "utf-8";
/**  全局样式  **/
html,body{height:100%; width:100%}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form,p,input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
img { border: 0 none; vertical-align: top; }
a,button{cursor:pointer;}
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 14px; font-family:"微软雅黑","microsoft yahei",Arial,Helvetica,sans-serif;outline:0;}
i, em, cite { font-style: normal; }
body {background:#fff; color: #666; line-height: 1.2; }
a, a:link {color:#666;text-decoration: none; }
a:visited {}
a:active, a:hover {text-decoration: none;}
a:focus { outline: none; }
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix {display:block; min-height: 1%; }
*html .clearfix { height: 1%; }
.more{float: right; }
.more a{font-weight: normal; font-size:12px; }
.fl{display:inline; float:left; }
.fr{display:inline;float: right; }
.clear{clear:both;}

/*样式正式开始*/
body{height: 100%;overflow: hidden;background-color: #F0F0F0}
.nav-active{border-bottom: 3px solid #3366FF}
.left-inner-active{display: block}


.bg-contain{width: 100%}
.nav{height: 50px;position: absolute;left:0;top:0;right:0;border-bottom: 1px solid #e0e0e0;}
.nav img{width: 100%;height: 50px}
.nav ul li{float: left;width: 20%;text-align: center;line-height: 50px;font-size: 28px;cursor: pointer}



.left-bar{width: 200px;position: absolute;left: 0;top:50px;margin-top: 20px}
.left-inner{width:200px;border-top: 20px solid #F0F0F0;}
.left-inner-bar{display: none}
.left-inner-bar ul li{;height:24px;line-height: 24px;font-size: 16px;text-align: center;border-bottom: 1px solid #e6e6e6;cursor: pointer;background-color: white;color: grey}
.b-choose{min-height: 40px;border: 1px solid #e0e0e0;cursor: pointer;border-radius: 5px;background-color: white}
.b-choose span{line-height: 40px;margin-left: 40px;font-size: 22px;}
.right-body{position: absolute;left: 200px;right: 0;top: 70px;bottom: 50px;overflow:auto;padding:0 20px;}
.right-body-inner{min-height: 600px;border-radius: 8px; padding: 20px;background-color: white;overflow: auto;position: relative}
.chart{width: 600px;height: 300px;position: absolute;left: 50%;margin-left: -300px;margin-top: 100px;display: none}

td{border: 1px solid #e6e6e6}

.footer{position: fixed;bottom: 0px}
