{% load static %}
<body>
<h2 class = "title">hello&nbsp&nbsp{{ user.username }}&nbsp&nbsp</h2>
<a href="{% url 'index' %}"><p class="word">返回主页</p></a>
<link rel="stylesheet" href="{% static 'css/delete.css' %}">
<div class="box">
    <div class="inner_box">
	<h4>选中删除的意见后请点击页面底部的“删除”按钮</h4>
<form method="POST" id="delete">
    {% for i in slist %}
        <div class="ininner_box">
            <div class="word_box">
			<div class="button"><p>用户：{{i.user.username}}</p></div>
            <div class="button1"><p>意见：{{i.suggestion}}</p></div>
            </div>
			<p>提交时间：{{i.pub_date}}</p>
            <br/><input type="checkbox" name="delete" value="{{i.index}}" >选中<br/>
        </div>
    {% endfor %}
    {% csrf_token %}
        <br/><input type="submit" value="删除" onclick="winclose()"/ style="position:absolute;bottom:-30px;left:500px"><br/>
</form>
    </div>
</div>
</body>