{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" >
    <script src="{% static 'js/jquery-1.11.1.min1.js' %}"></script>
    <script src="{% static 'js/index.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>失物招领管理</title>
</head>
<body>
    <div class="bg-contain">
        <div class="nav">
            <ul>
                <img src="{% static 'timg.jpg' %}">
                <li>失物招领管理系统</li>
                <h1>hello&nbsp&nbsp{{ user.username }}&nbsp&nbsp</h1>

            </ul>
        </div>

        <div class="left-bar">
            <div class="left-inner">
                
                {% if user.is_authenticated %}
                    <a href="{% url 'users:info' %}"><div class="b-choose choose-third"><span>张贴失物信息</span></div></a>
                    <a href="{% url 'users:opinion' %}"><div class="b-choose choose-fourth"><span>意见箱</span></div></a>
                    <a href="{% url 'users:about' %}"><div class="b-choose choose-fifth"><span>关于我们</span></div></a>
                    <a href="{% url 'users:delete' %}"><div class="b-choose choose-sixth"><span>撤回上传信息</span></div></a>
                     <!--   <div class="left-inner-bar">
                            <ul >
                                <li class="fourth-first">图一</li>
                                <li class="fourth-second">图二</li>
                                <li class="fourth-third">图三</li>
                                <li class="fourth-fourth">图四</li>
                                <li class="fourth-fifth">图五</li>
                                <li class="fourth-sixth">图六</li>
                                <li class="fourth-seventh">图七</li>
                                <li class="fourth-eighth">图八</li>
                                <li class="fourth-ninth">图九</li>
                                <li class="fourth-tenth">图十</li>
                                <li class="fourth-eleventh">图十一</li>
                                <li class="fourth-twelfth">图十二</li>
                            </ul>
                        </div>-->
                    </div>
                    <a href="{% url 'logout' %}?next={{ request.path }}"><div class="b-choose choose-fifth" style="color:crimson"><span>退出登录</span></div></a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}"><div class="b-choose choose-second"><span>登陆</span></div></a>
                    <a href="{% url 'users:register' %}"><div class="b-choose choose-third"><span>注册</span></div></a>
                    <a href="{% url 'users:about' %}"><div class="b-choose choose-fourth"><span>关于我们</span></div></a>
                {% endif %}
            </div>
        </div>
        <div class="right-body">
            <div class="right-body-inner">
                
                    {% for i in imgs %}
                    <div class="chart-bar">
                    <img src="{{ i.img.url}}" width=235px height=185px/>
                    <div class="inner-chart">
					<p>发布时间：{{i.pub_date}}</p>
					{% if i.user.is_superuser %}
					<div class="button"><p>管理员：{{i.user.username}}</p></div>
					{% else %}
					<div class="button"><p>用户：{{i.user.username}}</p></div>
					{% endif %}
                    <div class="button"><p>物品名称：{{i.finder}}</p></div>
                    <div class="button"><p>联系方式：{{i.phoneNumber}}</p></div>
                    <div class="button1"><p>补充说明：{{i.details}}</p></div>
                    </div>
                    </div>
                    {% endfor %}
                
                <!--<div class="chart right-first">
                    
                </div>
                <div class="chart right-second">
                    
                </div>
                <div class="chart right-third">
                    
                </div>


                <div class="chart fourth-first">
                    
                </div>
                <div class="chart fourth-second">
                    
                </div>
                <div class="chart fourth-third">
                    
                </div>
                <div class="chart fourth-fourth">
                    
                </div>
                <div class="chart fourth-fifth">
                   
                </div>
                <div class="chart fourth-sixth">
                    
                </div>
                <div class="chart fourth-seventh">
                    
                </div>
                <div class="chart fourth-eighth">
                    
                </div>
                <div class="chart fourth-ninth">
                    
                </div>
                <div class="chart fourth-tenth">
                    
                </div>
                <div class="chart fourth-eleventh">
                    
                </div>
                <div class="chart fourth-twelfth">
                    
                </div>



                <div class="chart right-fifth">
                    
                </div>-->
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>