
@charset "utf-8";
/**  全局样式  **/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form,p,input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
img { border: 0 none; vertical-align: top; }
a,button{cursor:pointer;}
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
body, input, select, button, textarea { font-size: 14px; font-family:"微软雅黑","microsoft yahei",Arial,Helvetica,sans-serif;outline:0;}
i, em, cite { font-style: normal; }

a, a:link {color:#666;text-decoration: none; }
a:visited {}
a:active, a:hover {text-decoration: none;}
a:focus { outline: none; }
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix {display:block; min-height: 1%; }
*html .clearfix { height: 1%; }
.more{float: right; }
.more a{font-weight: normal; font-size:12px; }
.fl{display:inline; float:left; }
.fr{display:inline;float: right; }
.clear{clear:both;}

/*样式正式开始*/

body{background-image: url(images/beijing.jpg);background-size: cover;

}
.left-inner-active{display: block}


.bg-contain{width: 100% ;}
.nav{height: 100px;position: absolute;left:0;top:0;right:0;}
.nav img{width: 30%;height: 70px}
.nav ul li{float: right;width: 70%;text-align: center;line-height: 70px;font-size: 40px;cursor: pointer;background-image:linear-gradient(to right,#FFFFFF,blue)}
.nav ul li{color:white;font-family: serif;font-weight:700;text-indent: -100px;letter-spacing:8px}
.nav ul h1{float:right;text-align:right;}

.left-bar{width: 180px;position: absolute;left: 0;top:100px;margin-top: 20px}
.left-inner{width:180px;border-top: 20px }
.left-inner-bar{display: none}
.left-inner-bar ul li{;height:24px;line-height: 24px;font-size: 16px;text-align: center;border-bottom: 1px solid #e6e6e6;cursor: pointer;background-color: white;color: grey}
.b-choose{min-height: 40px;border: 1px solid #e0e0e0;cursor: pointer;border-radius: 5px;background-color: white}
.b-choose span{line-height: 40px;margin-left: 40px;font-size: 18px;text-align: center}

.right-body{position: absolute;left: 180px;right: 0;top: 100px;bottom: 50px;overflow:auto;padding:0 20px;}
.right-body-inner{min-height: 500px;border-radius: 8px; padding: 10px;background-color: white;overflow: auto;position: relative}
.chart{width: 600px;height: 300px;position: absolute;left: 50%;margin-left: -500px;margin-top: 100px;display: none}
.chart-bar{width: 500px;height:160px;float: left;border-radius: 8px;background-color: rgb(132, 229, 235)}
.inner-chart{width: 300px;height:160px;float: right;border-radius: 5px;background-color: white}
.chart-legend{width: 100px;height: 100px;float: left;background-color: green}
.button{width: 296px;height: 30px;float: right;border-radius: 5px;background-color: white;border: 1px solid #e0e0e0}
.button1{width: 296px;height: 90px;float: right;border-radius: 5px;background-color: white;overflow-y: scroll;border: 1px solid #e0e0e0;word-break: break-all}
.button p{line-height: 40px;margin-left: 40px;font-size: 18px;text-align: center}
.button1 p{line-height: 40px;margin-left: 20px;font-size: 18px;line-height: 20pt}
td{border: 1px solid #e6e6e6}
.footer{position: absolute;left: 0;right: 0;bottom: 0}

.beizhu li{position:absolute;top:100px;margin-left:20px;font-size: 20px}

/*为输入框设计的样式*/
/*by Liu.ziyang*/

.inputstyle{
    width:100px;
    margin:1px auto;
}
input[type="text"]{
    box-sizing: border-box;
    text-align:left;
    font-size:1em;
    height:2em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:20%;
  }
input[type="file"]{
    border-radius: 2px;
}
.textstyle={
    width:800px;height:200px;
    margin:1px auto;
}
 textarea{
    box-sizing: border-box;
    text-align:left;
    font-size:1em;
    height:2em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6493d8;
    -web-kit-appearance:none;
    -moz-appearance: none;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:20%;
  }
