{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no" >
    <script src="{% static 'js/jquery-1.11.1.min1.js' %}"></script>
    <script src="{% static 'js/index1.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>失物招领管理</title>
</head>
<body>
    <div class="bg-contain">
        <div class="nav">
            <ul>
            	<img src="{% static 'timg.jpg' %}">
                <li>失物招领管理系统</li>
                <h1>hello,{{ user.username }}</h1>
            </ul>
        </div>

        <div class="beizhu">
            <li>*在这里请您填写个人信息及捡到的物品信息，物品信息将发布到首页</li>
        </div>
        <div style="position: absolute;top:150px;margin-left:20px">
			<form method="POST" enctype="multipart/form-data" id="upload">
            <p>物品名称：<br><br></p>
            <input id="1" style="border: none" type="text" name="finder" required><br><br><br>
            <p>手机号：<br><br></p>
            <input id="2" style="border: none" type="text" name="phoneNumber" required><br><br><br>
            <p>详情:<br><br></p>
            <textarea name="details" form="upload" rows=1000px cols=200px style="border:none;width:1000px;height:200px"></textarea><br><br><br>
            </p><br><br>
			{% csrf_token %}
			<input type="file" name="img" required>
			<button type="submit">上传</button>
			</form>
        </div>
    </div>

    

  
</body>
</html>